@import "tailwindcss";
@plugin "daisyui";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

*{
    font-family: "Inconsolata", monospace;
    font-weight: 600;
}
body {
    background: linear-gradient(to bottom, #f1f2ed, #e1e1dc);
    min-height: 100vh;
    margin: 0;
}
a.active{
    color: blue;
    border-bottom: 1px solid blue;
}